<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

      <!-- Navigation -->
    <% include ../static/partials/navbar.ejs %>

      <!-- Page Content -->
      <main class="container">
      <% include ../static/partials/messages.ejs %>
        <h1>Downgrading will make all private wikis public.  Proceed?</h1>
        <form method="POST" action="/users/downgrade">
          <input type="submit" value="Yes" class="btn btn-primary"/>
        </form>
        <form method="GET" action="/">
          <input type="submit" value="No" class="btn btn-primary"/>
        </form>
      </main>
    
    <% include ../static/partials/baseScripts.ejs %>

    </body>
</html>
